@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --bgGreen: #EFF9BF;
    --bgCard: #A7E9AF;
    --fontColor: #75B79E;
}

.hidden {
    display: none !important;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bgGreen);
}

header {
    background-color: inherit;
    color: var(--fontColor);
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 80px;
    position: relative;
}

#clock {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 160px;
    flex: 1;
    flex-wrap: wrap;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 200px;
    background-color: var(--bgCard);
    padding: 20px;
    border-radius: 7px;
    margin: 20px;
    flex-shrink: 0;
}

img {
    width: 100%;
}


@media screen and (max-width: 740px) {
    main {
        padding: 0px 100px;
    }

    header {
        font-size: 50px;
    }

    #clock {
        position: unset;
    }
}
